server:
  port: 8080

spring:
  main:
    allow-circular-references: true
  datasource:
    url: jdbc:h2:mem:mydb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: password
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: your_jwt_secret_key
  expiration:  36000000 # Example: 10 hours in milliseconds
#  expiration: 20000 # Example: 20 seconds

